<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mi primera suite">
<parameter name="browser" value="chrome"/>
<test name="My primer test" enabled="true" time-out="20000">
<classes>
<class name= "tests.MyTest"/>
</classes>
</test>
</suite>